/vendor/
/node_modules/

.env
.env.local
.env.*.local

php-error.log
*.log

assets/uploads/*
!assets/uploads/.htaccess
!assets/uploads/.gitkeep

.DS_Store
.idea/
.vscode/

.phpunit.cache/
.phpunit.result.cache

## claude and others files
.agents/*
claude.md